<hr>
<h3><%= author.name %></h3>
<br>
<!-- <%= link_to 'Add Book', new_author_book_path(author) %> -->
<br>
<%= render partial: 'books/form', locals:{ book: Book.new, author: author}, cached: true %>
<h4>Books (<%= author.books.count %>)</h4>
<%= render partial: 'books/book', collection: author.books, cached: true %>
